.modal
  .close X
  form.ideationcard#adddataset(method="post", name="theform", action="")
    .typology(style="background-color: rgb(" + typologyColor.r + "," + typologyColor.g + "," + typologyColor.b + ");")
      select#inputthematique(name="thematique")
        each t in thematiques
          option(value=t)= t
      .kind(title=kind)
        label.ok
          input#kind(type="radio", name="kind", value="personal", checked="checked")
          img(src="img/ideationcard/personal.png")
        label.ko
          input#kind(type="radio", name="kind", value="notpersonal")
          img(src="img/ideationcard/notpersonal.png")

      .datacontroller(title="Responsable de traitement")
        img(src="img/ideationcard/bank.png")
        input#inputsourcedatacontroller(type="text", placeholder="Détenteur *")

    .name
      input#inputname(type="text", placeholder="Inscrivez ici le nom de la donnée *")

    .description
      textarea#inputdescription(type="text", placeholder="Précisez ici")

    .support(title="Support")
      img(src="img/ideationcard/file.png")
      input#inputsupport(type="text", placeholder="support")

    textarea#inputcomment(type="text", placeholder="Optionnel : un commentaires complémentaire sur la donnée.")

    input(type="submit", name="submit", class="button", id="submit_btn", value="Send")

    //-button(type="submit")= Envoyer

  //-    Nature  : personnelle, open data, référentiels, statistiques
  //-    Information (qu'est-ce qu'on cherche)
  //-    Catégorie (domicile, travail/ecole, finance, profil, loisirs, communication, déplacements, santé)
  //-    Accès
  //-    Portabilité
  //-    Commentaires
