form.ideationcard#adddataset
  select.typology#inputthematique
    each val t in thematiques
      option= t

  input.name#inputname(type="text", placeholder="i
Inscrivez ici le nom de la donnée")
  input.description#inputdescription(type="text", placeholder="Précisez ici")

  input#inputsourcedatacontroller(type="text", placeholder="Détenteur")
  input#inputsupport(type="text", placeholder="support")

  select#inputnature
    each val t in natures
      option= t

  input#inputcomment(type="text", placehoolder="support")

//-    Nature  : personnelle, open data, référentiels, statistiques
//-    Information (qu'est-ce qu'on cherche)
//-    Catégorie (domicile, travail/ecole, finance, profil, loisirs, communication, déplacements, santé)
//-    Accès
//-    Portabilité
//-    Commentaires
