.ideationcard
  .typology(style="background-color: rgb(" + typologyColor.r + "," + typologyColor.g + "," + typologyColor.b + ");")= thematique
  .name
    span= label
    
  .description= description
  .frequency
    span= sourceDataController
