* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666;
}

body {
  margin: 0px;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}

a:hover, a:active {
  outline: 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* charte */
html {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #2E323D;
}

h1 {
  color: #2E323D;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

h2 {
  color: #2E323D;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

h3 {
  color: #2E323D;
  font-family: 'Arvo', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Header */
#expanded_header {
 /* z-index: 200;
  position: relative;*/
  /*width: 100%;*/
  /*top: 0px;*/
}

#expanded_header > img {
  width: 100%;
   z-index: 200;
  position: relative;
  display: block;
}

.toolbar {
  background: url('../img/filters_bg.jpg');
  height: 72px;
  line-height: 72px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 10px gray;
}

#collapsed_header {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
}

#collapsed_logo {
    background: #F7F8FD;
    display: inline-block;
    height: 72px;
    padding: 4px;
}

#collapsed_logo img {
  display: inline-block;
  background: #F7F8FD;
  height: 64px;
}

#collapsed_logo h1 {
  width: 200px;
  height: 64px;
  font-size: 28px;
  display: inline-block;
  line-height: 27px;
  text-align: left;
  margin: 0 8px 0 0;

  position: relative;
  bottom: 5px;
}

#collapsed_logo h3 {
  display: inline-block;
  margin: 0 16px;
  position: relative;
  font-size: 36px
  bottom: 30px;
  /*background: #FFF;*/
  vertical-align: top;
  height: 64px;
}

.filters {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.filters li {
  display: inline-block;
}

.thematique_filter {
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 24px;
  padding: 8px;
}

/*label[for=word_filter] {
  display: block;
}
*/
.word_filter {
  width: 200px;

  margin-left: 20px;

  font-size: 18px;

  background: #eee
  ;
  border:  0;
  border-radius: 2px;
  padding: 5px;
  z-index: 2000;
}

.word_filter_submit {
  left: 173px;
  top: 25px;
  z-index: 2001;
  padding: 4px 0;
}

.personal_filter, .notpersonal_filter {
  height: 40px;
  margin: 0 16px;
  margin-bottom: -8px;
}

.personal_filter.active, .notpersonal_filter.active {
  filter: brightness(100);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* tools */

#period_filter {
  font-size: 20px;
}


label[for=word_filter] {
  display: block;
}



#word_filter {
  width: 160px;
  left: 20px;
  top:20px;

  /*! background: white; */
  border:  0;
  border-radius: 2px;
  padding: 5px;
  z-index: 2000;
}

#word_filter_submit {
  left: 173px;
  top: 25px;
  z-index: 2001;

}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* datasets list. */

#container {
  margin-top: 100px;
}

#documentation > .typology {
  clear: both;
}

#documentation h3 {
  line-height: 30px;
}

#documentation .ideationcard {
  /*cursor: pointer;*/
  display: inline-block;
}

ul.datasets {
  padding: 0;
}

.datasets li {
  list-style: none;
}

li.subject {
  display: none;
}


.datasets li {
  display: inline-block;
  margin: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* ideationcard */

.ideationcard {
  position: relative;
  width: 200px;
  height: 300px;
  border: 0.5px solid #eee;
  box-sizing: border-box;
}

.ideationcard .typology {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding: 8px;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 16%;
}

.ideationcard .typology .thematique {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  margin: 4%;
  top: 0px;
  left: 0px;
}

.ideationcard .typology .kind {
  position: absolute;
  right: 0px;
  top:0px;
  padding: 4%;
  height: 100%;
}

.ideationcard .typology .kind img {
  height: 100%;
  filter: brightness(100);
}

.ideationcard .datacontroller {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 4%;
  height: 60%;
  right: 20%;
  font-size: 13px;
  font-weight: 400;
  font-family: "Arvo";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ideationcard .datacontroller img {
  height: 100%;
  margin-right: 4%;
}

.ideationcard .name {
  /*! margin: 20px 0 20px 0; */
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 700;
  color: #555;
  height: 30%;
  width: 92%;
  left: 4%;
  right: 4%;
  position: absolute;
  top: 20%;
}

.ideationcard .name span {
}

.ideationcard .description {
  width: 92%;
  left: 4%;
  right: 4%;
  height: 30%;
  font-size: 13px;
  position: absolute;
  top: 54%;
  overflow-y: auto;
}


.ideationcard .support {
  bottom: 0px;
  left: 0px;
  height: 12%;
  width: 100%;
  padding: 4%;
  font-size: 12px;
  line-height: 10px;
  color: #999;
  position: absolute;

}
.ideationcard .support img {
  display: block;
  height: 45%;
  position: absolute;
}

.ideationcard .support span {
  display: block;
  margin-left: 12%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  height: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* form */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  top: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* prop tables */

.compact .details {
  display: none;

}

.expanded .details {
  display: inline-block;
  width: calc(100% - 310px);
}

.details {
  margin-left: 20px;
  margin-top: 20px;
}

#documentation table {
  width: 100%;
  border: 1px solid #dddddd;

  border-spacing: 0px;

  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

#documentation tbody tr:nth-of-type(odd) {
      background-color:#f9f9f9;
}
#documentation th,
#documentation td {
  border: 1px solid #dddddd;
  text-align: left;
  vertical-align: top;
  padding: 8px;
 /*! border-collapse: separate; */
  /*! font-size: 14px; */
  word-break: break-all;
}
#documentation th {
  font-size: 18px;
  width: calc(100% / 4);
}
#documentation td {
  line-height: 1.2em;

}
#documentation td.nom {
  font-weight: bold;
  font-size:18px;
  /*! width: 20%; */
  /*! word-break: keep-all; */
  vertical-align: middle;
  width:  25%;
}
#documentation td.description {
  /*! min-width: 30%; */
  width:  40%;
}

#documentation td.exemple {
  color: #666666;
  /*! overflow:  auto; */
  /*! height:  20px; */
  /*! width: 25%; */
  width:  35%;
}

#documentation td.exemple pre {
  margin:  0px;
  /*! max-height: 50px; */
  /*! overflow: auto; */
}

#documentation td.format {
  color: #666666;
  /*! width: 25%; */
}

#documentation tbody.compact tr.showmetadata td {
  border: none;
  font-size: 90%;
  font-weight: normal;
  color: #aaa;
  background-color:#fdfdfd;
  cursor: pointer;

}

#documentation tbody.expanded tr.showmetadata td {
  border: none;
}


#documentation tbody.compact tr.metadata {
  display: none;
}

#documentation tbody.expanded tr.metadata {
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Credits */

#credits {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 3%;
}

#credits #version {
  height: 60%;
  margin-bottom: 6px;
}

#credits #creditsbam {
  height: 60%;
  margin-bottom: 6px;
}

#credits #creditscc {
  height: 80%;
  margin: 5px;
}

#credits #creditsfing {
  height: 100%;
}

#credits #csv {
  height: 100%;
  margin-left: 20px;
}


#credits #print {
  height: 80%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* Responsive */

@media (max-width: 992px) {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@page {
  margin: 15mm;
}

@media print {
  html, body {
    width: 750px;
    margin: 0mm;
    padding: 0px;
    background: #FFF;
  }

  header {
    display: none;
  }

  #container {
    margin-top: 0px;
  }

  ul.defis {
    margin: 0px;
    padding: 0px;
  }
}
